<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




<div class="chat_window scrollbar scrollbar-primary">
  <div class="force-overflow">
    <div class="top_menu">
      <div class="buttons">
        <div class="button close"> </div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div>
      <div class="title">Chat</div>
    </div>
    <form (submit)="envoyer()">
      <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
          <input class="message_input" name="userInput" placeholder="Votre message..." [(ngModel)]="userInput">

        </div>
        <div class="send_message">
          <button class="submit" type="submit">Envoyer</button>
        </div>
      </div>
    </form>
    <div class="blabla">
      <ul class=" mess scrollbar scrollbar-primary">

        <li class="message" *ngFor="let message of serverMessages">
          {{message.message}}
        </li>
    
    </ul>
  </div>

</div>